@import "variables";
@import "mixin";

@include scrollbars(1em, #a9adb0);

.board {
  font-family: $font-family;
  font-size: 13px;
  color: $black;
  height: 100vh;
  background-color: #03153f;
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: auto;
}